*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.main-header {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #2a808b50;
    color: white;
    position: relative;
    z-index: 1;
}

.main-nav {
    background-color: #08191b50;
    flex-basis: 100%;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    text-align: center;
}

.main-nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.main-nav a:hover {
    text-decoration: underline;
}

section {
    text-align: center;
    background: #fff3;
    margin-bottom: 60px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.text-image-section{
    display: grid;
    grid-template-columns: 75% 22%;
    column-gap: 2rem;
}
.text-container{
    text-align: justify;
}
.full-flex-h1 {
    color: #ffffff;
    font-weight: 900;
    flex-basis: 100%;
    padding: .3rem 0;
}
.aside-video-container{
    border-radius: 1rem;
    overflow: hidden;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
.aside-video{
    width: 100%;
}
.article-h2{
    color: #fff;
    font-weight: 700;
}
.main-background{
    top: 0;
    background-color: #000;
    position: fixed;
    z-index: 0;
    width: 100vw;
}
.main-container{
    position: relative;
    z-index: 100;
    padding: 0 10rem;
}
.border-top{
    margin: 1rem 0 0 0;
    font-weight: 600;
    color: #fffb;
    display: block;
    border-top: 1px solid #000;
}
.tabed-list{
    padding-left: 1rem;
    list-style: georgian;
}
.cursive{
    font-style:oblique;
}